# Store Sales

In [2]:
import pandas as pd
sales=pd.read_excel('Project 4 Store Sales (2).xlsx')
sales

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Cost
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,41057,41059,1.3200,2,5.90,88525,5.76
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,40366,40367,4.5600,4,13.01,88522,11.36
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,40751,40752,-47.6400,7,49.92,88523,46.76
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,40751,40752,-30.5100,7,41.64,88523,39.76
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,40751,40751,998.2023,8,2893.34,88523,1647.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,18900,Low,0.06,6.88,2.00,72,Amanda Hardy Singleton,Express Air,Small Business,Office Supplies,...,Maine,West Scarborough,4070,41133,41140,82.8483,18,240.14,89248,123.84
196,21280,High,0.02,22.84,8.18,73,April Winters,Regular Air,Small Business,Office Supplies,...,Massachusetts,Duxbury,2331,41575,41577,234.6800,22,526.36,89250,502.48
197,18955,Not Specified,0.09,21.78,5.94,74,Mark Manning,Regular Air,Small Business,Office Supplies,...,New Jersey,Iselin,8830,41253,41255,23.0100,7,294.52,89249,152.46
198,21287,Critical,0.06,65.99,8.99,75,Tamara Yates,Express Air,Small Business,Technology,...,New Jersey,Lakewood,8701,41010,41012,17.2530,6,646.68,89247,395.94
199,21288,Critical,0.10,159.99,5.50,76,Glen Weeks,Regular Air,Small Business,Technology,...,New Jersey,Wayne,7470,41010,41011,526.5735,5,1526.30,89247,799.95

In [3]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                200 non-null    int64
 1   Order Priority        200 non-null    object
 2   Discount              200 non-null    float64
 3   Unit Price            200 non-null    float64
 4   Shipping Cost         200 non-null    float64
 5   Customer ID           200 non-null    int64
 6   Customer Name         200 non-null    object
 7   Ship Mode             200 non-null    object
 8   Customer Segment      200 non-null    object
 9   Product Category      200 non-null    object
 10  Product Sub-Category  200 non-null    object
 11  Product Container     200 non-null    object
 12  Product Base Margin   199 non-null    float64
 13  Region                200 non-null    object
 14  State or Province     200 non-null    object
 15  City                  200 non-null    object
 16  Postal Code           200 non-null    int64
 17  Order Date            200 non-null    int64
 18  Ship Date             200 non-null    int64
 19  Profit                200 non-null    float64
 20  Quantity ordered new  200 non-null    int64
 21  Sales                 200 non-null    float64
 22  Order ID              200 non-null    int64
 23  Cost                  200 non-null    float64
dtypes: float64(7), int64(7), object(10)
memory usage: 37.6+ KB

In [4]:
#total sales by region
sales.groupby('Region').sum()["Sales"]

C:\Users\Liya Roslin\AppData\Local\Temp\ipykernel_15016\3146415849.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby('Region').sum()["Sales"]

Region
Central     25883.87
East       172056.49
South        4233.98
West       119210.91
Name: Sales, dtype: float64

In [5]:
#total sales by city
sales.groupby('City').sum()["Sales"]

C:\Users\Liya Roslin\AppData\Local\Temp\ipykernel_15016\687378425.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby('City').sum()["Sales"]

City
Addison                  5.90
Alton                  312.31
Anacortes             9985.91
Bedford                705.47
Bellevue              1678.51
Burlington            2801.06
Camden                3588.54
Colonial Heights       463.01
Coppell               1177.22
Cranston                90.39
Duxbury                526.36
Eugene                  99.56
Fall River             465.90
Grants Pass          14713.55
Great Falls             46.93
Gresham              22978.90
Helena                4041.16
Hillsboro              346.79
Iselin                 294.52
Keizer                 125.18
Laguna Hills          5113.07
Laguna Niguel         4779.64
Lake Elsinore         4040.79
Lake Forest           1716.07
Lakewood              5172.20
Lancaster              229.44
Lawndale               332.05
Missoula               463.58
Mountain View         4790.26
Murrieta              4346.75
Napa                 11320.74
New York City       130910.17
Pennsauken             413.90
Port Arthur           2062.21
Prior Lake            2445.42
Puyallup              3268.86
Redmond              10319.42
Richardson             439.51
Roselle                211.15
Rosenberg             5984.39
Round Rock             986.71
Rowlett               3558.98
Salem                 3770.97
San Gabriel           6589.35
San Jose              5037.39
Smithfield            3670.18
Smithtown              538.72
Springfield           1562.24
Streamwood            3373.24
Syracuse              4994.80
Tinley Park           2297.23
Tonawanda            20311.57
Troy                   120.64
Wayne                 1526.30
West Scarborough       240.14
Name: Sales, dtype: float64

In [6]:
#total sales by state or province
sales.groupby('State or Province').sum()["Sales"]

C:\Users\Liya Roslin\AppData\Local\Temp\ipykernel_15016\3343367098.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby('State or Province').sum()["Sales"]

State or Province
California        52821.07
Illinois           7550.92
Maine               240.14
Massachusetts       992.26
Minnesota          2445.42
Montana            4551.67
Nebraska           1678.51
New Hampshire       705.47
New Jersey         6681.09
New York         156875.90
Oregon            38263.98
Rhode Island       3760.57
Texas             14209.02
Vermont            2801.06
Virginia           4233.98
Washington        23574.19
Name: Sales, dtype: float64

In [7]:
#total profit by region
sales.groupby('Region').sum()["Profit"]

C:\Users\Liya Roslin\AppData\Local\Temp\ipykernel_15016\827480732.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby('Region').sum()["Profit"]

Region
Central     3792.145476
East        9239.878280
South       -222.141400
West       19246.948452
Name: Profit, dtype: float64

In [8]:
#total profit by city
sales.groupby('City').sum()["Profit"]

C:\Users\Liya Roslin\AppData\Local\Temp\ipykernel_15016\3026190409.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby('City').sum()["Profit"]

City
Addison                1.320000
Alton                -22.184000
Anacortes           3242.669900
Bedford             -158.740000
Bellevue           -1025.284000
Burlington         -2426.550000
Camden              -346.615198
Colonial Heights     -56.468000
Coppell              287.374400
Cranston              23.120000
Duxbury              234.680000
Eugene               -43.331600
Fall River            72.992800
Grants Pass         3317.767800
Great Falls         -103.150000
Gresham             2249.990340
Helena               905.061600
Hillsboro             77.084000
Iselin                23.010000
Keizer                 7.670000
Laguna Hills        1580.802060
Laguna Niguel       1344.720100
Lake Elsinore       1317.296860
Lake Forest          392.157348
Lakewood            1035.933012
Lancaster             26.602800
Lawndale            -122.209440
Missoula            -114.639900
Mountain View       1312.038000
Murrieta            1547.318100
Napa                1396.506200
New York City       4962.808600
Pennsauken           142.795500
Port Arthur        -1604.240000
Prior Lake           697.160500
Puyallup             675.098392
Redmond            -7295.983620
Richardson          -180.836960
Roselle              -53.809600
Rosenberg            962.484900
Round Rock           239.210620
Rowlett             1741.837600
Salem               -165.673400
San Gabriel         4249.106500
San Jose            2265.693000
Smithfield           947.313000
Smithtown             25.852900
Springfield          271.813236
Streamwood           838.400480
Syracuse           -1190.460746
Tinley Park         1585.088700
Tonawanda           6500.671024
Troy                -143.864800
Wayne                526.573500
West Scarborough      82.848300
Name: Profit, dtype: float64

In [9]:
#total profit by state or province
sales.groupby('State or Province').sum()["Profit"]

C:\Users\Liya Roslin\AppData\Local\Temp\ipykernel_15016\637698725.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby('State or Province').sum()["Profit"]

State or Province
California       16328.711540
Illinois          2674.438416
Maine               82.848300
Massachusetts      307.672800
Minnesota          697.160500
Montana            687.271700
Nebraska         -1025.284000
New Hampshire     -158.740000
New Jersey         309.207202
New York         10155.006978
Oregon            5609.180540
Rhode Island       970.433000
Texas             1445.830560
Vermont          -2426.550000
Virginia          -222.141400
Washington       -3378.215328
Name: Profit, dtype: float64

In [11]:
#total sales by customer
sales.groupby('Customer Name').sum()["Sales"]

C:\Users\Liya Roslin\AppData\Local\Temp\ipykernel_15016\549939948.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby('Customer Name').sum()["Sales"]

Customer Name
Alexandra Fuller           1207.58
Alice Capps                  99.56
Amanda Hardy Singleton      240.14
Anne Nguyen                 463.01
Annette Boone              2801.06
                            ...
Terri Lyons                3373.24
Theodore Moran             3607.01
Timothy Reese               538.72
Tony Wilkins Winters      24618.11
Virginia Hardison          4040.79
Name: Sales, Length: 62, dtype: float64

In [12]:
#which customer segment is more profitable
sales.groupby('Customer Segment').sum()["Profit"]

C:\Users\Liya Roslin\AppData\Local\Temp\ipykernel_15016\1546896040.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby('Customer Segment').sum()["Profit"]

Customer Segment
Consumer           5823.679946
Corporate         16692.249676
Home Office        4912.184506
Small Business     4628.716680
Name: Profit, dtype: float64

In [16]:
#Total number of orders by order priority
a=sales.groupby("Order Priority").count()['Order ID']
a

Order Priority
Critical         38
High             43
Low              38
Medium           35
Not Specified    46
Name: Order ID, dtype: int64

In [18]:
#Total number of orders by Ship mode
sales.groupby("Ship Mode").count()['Order ID']

Ship Mode
Delivery Truck     25
Express Air        27
Regular Air       148
Name: Order ID, dtype: int64

In [19]:
#Total Sales by Product category
sales.groupby("Product Category").sum()["Sales"]

C:\Users\Liya Roslin\AppData\Local\Temp\ipykernel_15016\498896361.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby("Product Category").sum()["Sales"]

Product Category
Furniture           75395.16
Office Supplies    118421.10
Technology         127568.99
Name: Sales, dtype: float64

In [21]:
#Total Sales by Product Sub category
sales.groupby("Product Sub-Category").sum()["Sales"]

C:\Users\Liya Roslin\AppData\Local\Temp\ipykernel_15016\2793282222.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby("Product Sub-Category").sum()["Sales"]

Product Sub-Category
Appliances                         9800.85
Binders and Binder Accessories    46282.84
Bookcases                          6104.75
Chairs & Chairmats                52905.09
Computer Peripherals               4260.61
Copiers and Fax                    4314.50
Envelopes                         22185.52
Labels                             1800.71
Office Furnishings                 7276.81
Office Machines                   36055.44
Paper                             10482.01
Pens & Art Supplies                2175.31
Rubber Bands                        727.69
Scissors, Rulers and Trimmers       298.05
Storage & Organization            24668.12
Tables                             9108.51
Telephones and Communication      82938.44
Name: Sales, dtype: float64

In [22]:
#Total profit by Product category
sales.groupby("Product Category").sum()["Profit"]

C:\Users\Liya Roslin\AppData\Local\Temp\ipykernel_15016\4149720101.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby("Product Category").sum()["Profit"]

Product Category
Furniture          -3388.408623
Office Supplies    21496.538840
Technology         13948.700592
Name: Profit, dtype: float64

In [23]:
#Total profit by Product sub-category
sales.groupby("Product Sub-Category").sum()["Profit"]

C:\Users\Liya Roslin\AppData\Local\Temp\ipykernel_15016\3322101610.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby("Product Sub-Category").sum()["Profit"]

Product Sub-Category
Appliances                         3189.057460
Binders and Binder Accessories    11321.746600
Bookcases                          -387.654000
Chairs & Chairmats                -3065.547520
Computer Peripherals               1690.071400
Copiers and Fax                     345.000000
Envelopes                          3881.970600
Labels                              399.567600
Office Furnishings                 1623.870780
Office Machines                   -2765.862324
Paper                              3204.024860
Pens & Art Supplies                  27.419100
Rubber Bands                         -6.938000
Scissors, Rulers and Trimmers       -24.970000
Storage & Organization             -495.339380
Tables                            -1559.077884
Telephones and Communication      14679.491516
Name: Profit, dtype: float64

In [24]:
#Total Sales by order date
sales.groupby("Order Date").sum()["Sales"]

C:\Users\Liya Roslin\AppData\Local\Temp\ipykernel_15016\1847163625.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby("Order Date").sum()["Sales"]

Order Date
40180    21661.40
40206       69.74
40211    14238.76
40221     1910.78
40231      849.36
           ...
41596     3183.42
41604      608.10
41619      449.66
41620      439.92
41635    19221.06
Name: Sales, Length: 119, dtype: float64

In [25]:
#Total profit by order date
sales.groupby("Order Date").sum()["Profit"]

C:\Users\Liya Roslin\AppData\Local\Temp\ipykernel_15016\3003307917.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby("Order Date").sum()["Profit"]

Order Date
40180    -567.628000
40206     -33.604000
40211   -4853.100000
40221     655.363100
40231     144.690000
            ...
41596     353.772160
41604     106.756192
41619     -48.236352
41620    -103.968480
41635    6468.189324
Name: Profit, Length: 119, dtype: float64